@{
    ViewData["Title"] = "Movie Submitted";
}
<h2>Movie Submission for @Model.Title Received. Thank you!</h2>

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Click Here to return to The Joel Hilton Film Collection home page</a>