@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Joel Hilton Film Collection</h1>
    <p>Hello there! Thanks for stopping by. Feel free to check out some of my favorite movies!</a>.</p>

    <center>
        <img src="~/img/JoelHiltonHeadshot.jpg" height=" = 500" />
    </center>
</div>
